# =========================
# Python / Django
# =========================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/db.sqlite3

**/__pycache__/
**/*.pyc

# =========================
# Node / Frontend
# =========================
node_modules/
frontend/node_modules/

dist/
frontend/dist/

frontend/.env

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
.simuslab-progress.md
anotacoes/